*.war
*.ear
*.class
dist/
build/
/Quellen/greenpocket/bin/
/Quellen/greenpocket/*/bin/
xcuserdata/
.DS_Store
greenpocket-engine/user.properties
classes/
user.properties
testSystem.properties
build-test/
dist-test/
test-reports/
coverage-report
batch/
checkstyle.xml
findbugs-exclude.xml
findbugs-include.xml
findbugs-result.xml
pmd-result.xml
pmd.xml
tmp/
.metadata
.JETEmitters
.Java
/Quellen/greenpocket/presentation-admin/war/presentation_admin/
/Quellen/greenpocket/presentation-admin/war/WEB-INF/classes
/Quellen/greenpocket/presentation-admin/extras
/Quellen/greenpocket/presentation-admin/war/WEB-INF/deploy
/Quellen/greenpocket/presentation-hints/war/hints_editor
revision.js
*.pyc
Quellen/greenpocket/.metadata
Quellen/flash/GPGChart/GPGChart.iml
Quellen/greenpocket/database/liquibase/scripts/hkp/lb_update_tga.sh
Quellen/greenpocket/util/batch/
Quellen/greenpocket/util/target/
Quellen/eportal_php/.idea/
Quellen/eportal_voltaris_php/.idea/
.gwt/
sonarForProject
junit*.properties
Quellen/tools/XSLChangeSetFactory/transform_params.sh
org.eclipse.core.resources.prefs
Quellen/greenpocket/Kram/
hs_err_pid*.log
.settings
